.main {
  display: flex;
  width: 100%;
}
.main .bg-overlay {
  background: #0003;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.fade-enter {
  opacity: .001;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: .001;
  transition: opacity 500ms ease-in;
}