.side-bar {
  width: 80px;
  height: 100%;
  display: flex;
  flex: none;
  flex-direction: column;
  background: #4aafb7;
  z-index: 9999;
  position: fixed;
}

.side-bar .logo {
  position: relative;
  padding: 20px;
}

.side-bar .logo .bg {
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  z-index: 0;
  box-shadow:
    0 0 0px 0px #fff,
    0 0 40px 25px #9fdbe0,
    0 0 0px 0px #fff;
}

.side-bar .logo img {
  z-index: 1;
  position: relative;
  width: 40px;
}

.side-bar .spacer {
  flex: 1;
}